version: '3.8'

services:
  app:
    build:
      context: .
      args:
        INSTALL_WEASYPRINT: "false"
    ports:
      - "8501:8501"
    volumes:
      - .:/app
    environment:
      - PYTHONUNBUFFERED=1
